title: London Bikecam Guide
description: >-
  Do you run or want to run a camera on your bicycle in Greater London?
  Read here for info, FAQs, and advice.
url: "https://sigwinch28.github.io"
baseurl: "/bikecam"
repository: sigwinch28/bikecam

theme: minimal-mistakes-jekyll
minimal_mistakes_skin: contrast
search: true
timezone: Europe/London

# plugins:
#   - github-pages
#   - jekyll-feed
#   - jekyll-include-cache
#   - jekyll-remote-theme
#   - jekyll-github-metadata
#   - jemoji

include:
  - _pages
  - _posts

collections:
  docs:
    output: true



defaults:
  # _posts
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: single
      read_time: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
  # _docs
  - scope:
      path: "_docs"
      type: docs
    values:
      layout: single
      read_time: false
      author_profile: false
      comments: false
      sidebar:
        nav: "docs"

collections:
  docs:
    output: true
    permalink: /:collection/:path/

category_archive:
  type: liquid
  path: /categories/

tag_archive:
  type: liquid
  path: /tags/
